development:
  article_url_prefix: 'https://example.org/article2?id='
  web_document_domains: ['foo.example.org', 'bar.example.org']

test:
  article_url_prefix: 'https://example.org/article2?id='
  web_document_domains: ['foo.example.org']

production:
  article_url_prefix: 'https://example.org/article2?id='
  web_document_domains: ['foo.example.org', 'bar.example.org']
